body {
    margin: 0;
    padding: 0;
  }
  .imagenFondoContacto {
  background-image: url(Imagenes/ImagenContacto.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 2rem;
  padding-bottom: 0;

  }