/* Fuentes de Google Fonts */
/* Fuente Inter (Párrafos) */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Fuente Playfair Display (Títulos) */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* Aplicar fuentes */
body, p, .navbar-nav .nav-link, .subbarra a, footer a {
  font-family: 'Inter', sans-serif;
}
h1, h2, h3, .dubaih1, .overlay h2 {
  font-family: 'Playfair Display', serif;
}

/* HEADER Y NAV */
body {
  padding-top: 110px; 
}




/* CARRUSEL */
.carrusel-scroll {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  gap: 1rem;
  padding: 1rem;
  scroll-padding: 1rem;
}
.carrusel-scroll::-webkit-scrollbar {
  display: none;
}
.tarjeta-carrusel {
  flex: 0 0 calc(50% - 1rem);
  scroll-snap-align: start;
  background-size: cover;
  background-position: center;
  min-height: 70vh;
  color: white;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.4);
}
.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media (max-width: 768px) {
  .tarjeta-carrusel {
    flex: 0 0 100%;
  }
}
.carrusel-wrapper {
  position: relative;
}
.boton-carrusel {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0,0,0,0.6);
  color: white;
  border: none;
  padding: 0.75rem 1rem;
  font-size: 1.5rem;
  z-index: 10;
  cursor: pointer;
  text-decoration: none;
  border-radius: 50%;
}
.boton-carrusel:hover {
  background-color: rgba(0,0,0,0.8);
}
.boton-prev {
  left: 0.5rem;
}
.boton-next {
  right: 0.5rem;
}


