 /* Fuentes de Google Fonts*/
 /* Fuente Inter (Parrafos) */
 @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
 /* Fuente Playfair Display (Titulos) */
 @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

 /* Estilo para los Titlos*/
h1, h2 {
    font-family: 'Playfair Display', serif;
}

/* Estilo para los párrafos p */
p,a, h6 {
    font-family: 'Inter', sans-serif;
}

/* Tamaño logo del nav */
nav img {
    width: 250px;
    height: 28px;
}


    .section-title {
      font-size: 2rem;
      font-weight: 700;
      border-bottom: 2px solid #e5e5e5;
      margin-bottom: 1.5rem;
      color: #222;
    }

    .btn-primary {
      background: #0072bc;
      border: none;
    }
    .btn-primary:hover {
      background: #005fa3;
    }

    .rounded-shadow {
      border-radius: 10px;
      box-shadow: 0 2px 8px rgba(0,0,0,0.06);
    }
    .cartelera-titulo {
      font-size: 1.6rem;
      font-weight: 600;
      color: #0072bc;
      border-bottom: 2px solid #e5e5e5;
      margin-bottom: 1.2rem;
      padding-bottom: 0.5rem;
    }