 /* Fuentes de Google Fonts*/
 /* Fuente Inter (Parrafos) */
 @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
 /* Fuente Playfair Display (Titulos) */
 @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

 /* Estilo para los Titlos*/
 h1,
 h2 {
     font-family: 'Playfair Display', serif;
 }

 /* Estilo para los párrafos p */
 p,
 a,
 h6 {
     font-family: 'Inter', sans-serif;
 }

 body {
     padding-top: 155px;
 }


 .contenedor-Max-Co {
     background-image: url('Imagenes/tienda-max&co.jpg');
     background-size: cover;
     background-position: center;
     min-height: 70vh;
 }

 .contenedor-Zara-Home {
     background-image: url('Imagenes/zara-home.jpg');
     background-size: cover;
     background-position: center;
     min-height: 70vh;
 }

 .contenedor-Charlotte-Tilbury {
     background-image: url('Imagenes/Charlote-tienda.jpg');
     background-size: cover;
     background-position: center;
     min-height: 70vh;
 }

 .contenedor-Jaeger-Le-Coultre {
     background-image: url('Imagenes/Jaeger-tienda.jpg');
     background-size: cover;
     background-position: center;
     min-height: 70vh;
 }

 .contenedor-Gucci {
     border-width: 20px;
     background-image: url('Imagenes/tienda-gucci.webp');
     background-size: cover;
     background-position: center;
     min-height: 70vh;
 }

 .contenedor-Bvlgari {
     border-width: 20px;
     background-image: url('Imagenes/tienda-bulgari.webp');
     background-size: cover;
     background-position: center;
     min-height: 70vh;
 }

 .contenedor-Chanel {
     border-width: 20px;
     background-image: url('Imagenes/Tienda_chanel.jpg');
     background-size: cover;
     background-position: center;
     min-height: 70vh;
 }

 .contenedor-Prada {
     border-width: 20px;
     background-image: url('Imagenes/tienda-prada2.avif');
     background-size: cover;
     background-position: center;
     min-height: 70vh;
 }

 .contenedor-Bearbrick{
     border-width: 20px;
     background-image: url('Imagenes/tienda-bearbrick.jpg');
     background-size: cover;
     background-position: center;
     min-height: 70vh;
 }
 .contenedor-Rolex{
     border-width: 20px;
     background-image: url('Imagenes/tienda-rolx2.jpg');
     background-size: cover;
     background-position: center;
     min-height: 70vh;
 }

 .fondo-oscuro {
     background-color: rgba(00, 00, 00, 0.25);
     width: 100%;
     height: auto;
     display: flex;
     flex-direction: column;
     justify-content: flex-end;
 }

 .fondo-oscuro-pequenio {
     background-color: rgba(00, 00, 00, 0.35);
     width: 100%;
     padding: 22px;
 }

 .imagen-modal{
    max-width: 700px;
 }
